#container {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

#container strong {
    font-size: 20px;
    line-height: 26px;
}

#container p {
    font-size: 16px;
    line-height: 22px;
    color: #8c8c8c;
    margin: 0;
}

ion-title {
    color: black;
}

#container a {
    text-decoration: none;
}

iframe {
    width: 100%;
    height: 100%;
}

img {
    display: block;
    margin: auto;
    width: 60%;
    margin-top: 20%;
}

.btns {
    display: flex;
    display: inline-grid;
    text-align: center;
    width: 100%;
    margin-top: 30%;
}

#admin {
    --background: #0a707f;
    --background-activated: #0a707f;
    --color: white;
    --color-activated: white;
    --border-radius: 20px;
    width: 45%;
    margin: auto;
    height: 50px;
}

#vendor {
    --background: #0a707f;
    --background-activated: #0a707f;
    --color: white;
    --color-activated: white;
    --border-radius: 20px;
    width: 55%;
    margin: auto;
    margin-top: 5%;
    height: 50px;
}