<ion-header class="ion-text-center">
    <ion-toolbar>
        <ion-title>
            تسجيل الدخول
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div> -->
    <img src="./assets/imgs/icon.png">
    <div class="btns">
        <ion-button clear id="admin" (click)="onBtnClicked('admin')">
            تسجيل دخول الأدمن
        </ion-button>
        <ion-button clear id="vendor" (click)="onBtnClicked('vendor')">
            تسجيل دخول المورد
        </ion-button>
    </div>
    <!-- <iframe src="https://fennexapp.com/vendor/login" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> -->
</ion-content>